.weather-block {
  background: linear-gradient(200deg, rgb(26, 26, 121) 64%, rgb(122, 122, 122));
  width: 670px;
  height: 370px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: inherit;
  color: azure;
  display: flex;
  justify-content: space-between;
}
.weather-block .icon {
  margin-left: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.weather-block div {
  margin-bottom: 2px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
}
.info-content {
  margin-right: 10px;
}
.img-icon {
  width: 200px;
  margin-right: 85px;
}
.center-block {
  max-width: 1011px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
